In [1]:
import pandas as pd
import os

In [2]:
from pathlib import Path
import json


data_dir = Path("../../data") / "raw" / "20251230"
post_files = data_dir.glob("POST_*.json")


input_texts = []

for post_file in post_files:
    with open(post_file, "r") as f:
        data = json.load(f)

        post_info = data["post_info"]
        subreddit = post_info["subreddit"]
        comments = data["comments"]

        for comment in comments:
            input_texts.append(comment)

In [5]:
import pandas as pd

In [7]:
df = pd.DataFrame(input_texts)

df.head()

,subreddit,post_id,depth,author,content,thing_id,parent_id,score,created_at,updated_at
0,boltnewbuilders,t3_1l2fvly,0,mariorojasmx,I’m a backend developer and a fairly new vibe-...,t1_mvwnama,,1,2025-06-04T06:08:27.456000Z,2025-12-29T14:01:05.609481Z
1,boltnewbuilders,t3_1l2fvly,1,Conscious-Sandwich88,Thanks mariorojasmx I spent quite a bit of tim...,t1_mx98go7,t1_mvwnama,1,2025-06-11T19:41:39.263000Z,2025-12-29T14:01:05.609481Z
2,Trae_ai,1nj3g08,0,Euphoric_Oneness,Claude 4 api is distilled and it is not aware ...,t1_nenhvn1,,5,2025-09-17T04:40:43.891000Z,2025-12-29T12:30:50.976574Z
3,Trae_ai,1nj3g08,1,Pretty-Ad4978,O modelo 3.5 tá melhor?,t1_neotmg7,t1_nenhvn1,1,2025-09-17T11:50:16.081000Z,2025-12-29T12:30:50.976574Z
4,Trae_ai,1nj3g08,2,Euphoric_Oneness,This is sonnet 4 api,t1_neou4l8,t1_neotmg7,1,2025-09-17T11:53:37.930000Z,2025-12-29T12:30:50.976574Z

In [10]:
df.groupby('subreddit').count().sort_values('post_id')

,post_id,depth,author,content,thing_id,parent_id,score,created_at,updated_at
subreddit,,,,,,,,,
AntigravityGoogle,3,3,3,3,3,3,3,3,3
CopilotMicrosoft,4,4,4,4,4,4,4,4,4
Qodercoding,6,6,6,6,6,6,6,6,6
v0_,15,15,15,15,15,15,15,15,15
CLine,266,266,266,266,266,266,266,266,266
kiroIDE,571,571,571,571,571,571,571,571,571
CursorAI,631,631,631,631,631,631,631,631,631
Trae_ai,875,875,875,875,875,875,875,875,875
replit,1198,1198,1198,1198,1198,1198,1198,1198,1198
boltnewbuilders,2163,2163,2163,2163,2163,2163,2163,2163,2163
windsurf,2671,2671,2671,2671,2671,2671,2671,2671,2671
lovable,3517,3517,3517,3517,3517,3517,3517,3517,3517
RooCode,3653,3653,3653,3653,3653,3653,3653,3653,3653
ClaudeCode,4281,4281,4281,4281,4281,4281,4281,4281,4281
cursor,5136,5136,5136,5136,5136,5136,5136,5136,5136

In [14]:
df[['subreddit', 'post_id']].drop_duplicates().groupby('subreddit').count().sort_values('post_id')

                   post_id
subreddit
Qodercoding              1
AntigravityGoogle        2
CopilotMicrosoft         2
v0_                      4
CLine                   25
kiroIDE                 44
CursorAI                53
replit                  69
Trae_ai                109
boltnewbuilders        194
ClaudeCode             221
lovable                224
cursor                 239
windsurf               239
RooCode                243

In [ ]:
with open('../../data/coding_results/related.json', 'r') as f:
    related_data = json.load(f)

related_data[0]

{'related': False, 'subreddit': 'boltnewbuilders'}

In [17]:
pd.DataFrame(related_data).groupby('subreddit').sum()

                   related
subreddit
AntigravityGoogle        1
CLine                   58
ClaudeCode            1215
CopilotMicrosoft         2
CursorAI               175
Qodercoding              2
RooCode                797
Trae_ai                193
boltnewbuilders        495
cursor                1329
kiroIDE                182
lovable                626
replit                 334
v0_                      1
windsurf               562